<!DOCTYPE html>
<html>
    <head>
        <style>
            html,body { padding:0; margin:0; height:100%; }
            #panel { background-color:white; position:absolute; top:0; left:0; bottom:0; width:300px; overflow-y: scroll; }
            #map_canvas { background:white; position:absolute; top:0; left:300px; right:0; bottom:0;}
        </style>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Google Maps Multiple Markers</title>
        <script src="http://maps.google.com/maps/api/js?sensor=false"
                type="text/javascript"></script>
    </head>
    <body>
        <div id="panel">
            {% for index, row in buildings.iterrows() %}
            <div id="{{row.ID}}" onclick="select_location(this)" onMouseOut="mouse_out(this)" onMouseOver="mouse_over(this)" style="border-bottom-style: solid;
                                                                                                                                    border-bottom-width: 1px;
                                                                                                                                    border-top-style: solid;
                                                                                                                                    border-top-width: 1px;
                                                                                                                                    padding-left: 10px;
                                                                                                                                    padding-right: 10px;">
                <p><b>{{row.COMPLET}}</b></p>
                <p>Valeur Batiment: {{row.VALEUR_BATIMENT}} $
                    <br>Valeur Terrain: {{row.VALEUR_TERRAIN}} $
                    <br>------------
                    <br>Valeur Total: {{row.VALEUR_BATIMENT + row.VALEUR_TERRAIN}} $
                </p>
            </div>
            {% endfor %}
        </div>
        <div id="map_canvas"></div>
        <script type="text/javascript">
            var selected_location;
            function scrollIntoViewIfNeeded(target) {
                var rect = target.getBoundingClientRect();
                if (rect.bottom > window.innerHeight) {
                    target.scrollIntoView({block: "end", behavior: "smooth"});
                }
                if (rect.top < 0) {
                    target.scrollIntoView({block: "start", behavior: "smooth"});
                }
            }
            function select_location(location,is_marker_clicked) {
                if (selected_location) {
                    selected_location.selected = null;
                    selected_location.style.background = "None";
                }
                location.selected = true;
                location.style.background ="LightGrey";
                selected_location = location;
                scrollIntoViewIfNeeded(location);
                if (markers && markers[location.id] && !is_marker_clicked){
                    new google.maps.event.trigger( markers[location.id], 'click' );
                }
            }
            function mouse_over(location) {
                if (!location.selected) {
                    location.style.background ="Grey";
                }
            }
            function mouse_out(location) {
                if (!location.selected) {
                    location.style.background = "None";
                }
            }
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var infowindow = new google.maps.InfoWindow();
            var marker, i;
            var bounds = new google.maps.LatLngBounds();
            var markers = [];
            {% for index, row in buildings.iterrows() %}
            bounds.extend(new google.maps.LatLng('{{row.LATITUDE}}', '{{row.LONGITUDE}}'));
             marker = new google.maps.Marker({
                position: new google.maps.LatLng('{{row.LATITUDE}}', '{{row.LONGITUDE}}'),
                map: map
            });
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    var info = '\
                        <div style="width:400px;"> \
                        <p><b>{{row.COMPLET}}</b></p> \
                        <p>Valeur Batiment: {{row.VALEUR_BATIMENT}} $ \
                            <br>Valeur Terrain: {{row.VALEUR_TERRAIN}} $ \
                            <br>------------ \
                            <br>Valeur Total: {{row.VALEUR_BATIMENT + row.VALEUR_TERRAIN}} $ \
                        </p> \
                        <p>Description: {{row.DESCRIPTION}} \
                            <br>Metro a moins de 500m: {{row.TAMPON_500_METRO}} \
                            <br>Quartier d\'interet: {{row.INTERET_QUARTIER}} \
                            <br>Immeuble d\'interet: {{row.INTERET_IMMEUBLE}} \
                            <br>Immeuble patrimonial: {{row.TYPE_ZONE_PATRIMOINE}} \
                            <br>Immeuble patrimonial: {{row.TYPE_ZONE_PATRIMOINE}} \
                        </p> \
                        <p><b>Reglementation</b> \
                        <UL>\
                            <LI>Usage: {{row.REGL_USAGE}} \
                            <LI>Metro a moins de 500m: {{row.TAMPON_500_METRO}} \
                            <LI>Quartier d\'interet: {{row.INTERET_QUARTIER}} \
                            <LI>Immeuble d\'interet: {{row.INTERET_IMMEUBLE}} \
                            {% if (row.ZONE_PATRIMOINE != "S.O.") %} \
                                <LI>Immeuble patrimonial: {{row.ZONE_PATRIMOINE}} \
                            {% endif %} \
                            {% if (row.TYPE_ZONE_PATRIMOINE != "S.O.") %} \
                                <LI>Type immeuble patrimonial: {{row.TYPE_ZONE_PATRIMOINE}} \
                            {% endif %} \
                        </UL> \
                        </p> \
                        <p>Compte Foncier: {{row.COMPTE_FONCIER}}</p> \
                        <p>Proprietaire: {{row.NOM_PROPRIETAIRE}}, {{row.PRENOM_PROPRIETAIRE}} \
                            <br>{{row.COMPLET_ADR_PROP}} \
                            <br>{{row.VILLE_ADR_PROP}}, {{row.CP_ADR_PROP}} \
                        </p>';
                    infowindow.setContent(info);
                    infowindow.open(map, marker);
                    select_location(document.getElementById('{{row.ID}}'),true);
                }
            })(marker, '{{index}}'));
            google.maps.event.addListener(infowindow,'closeclick',function(){
                if (selected_location) {
                    selected_location.selected = null;
                    selected_location.style.background = "None";
                }
            });
            markers['{{row.ID}}'] = marker;
            {% endfor %}
            map.fitBounds(bounds);
        </script>
    </body>
</html>

